<h1>Entrar<hr/></h1>
<%= form_tag sessions_path do %>
<table width="100%">
	<tr>
		<td align="justify">
	  		<p>

	  		</p>
		</td>
	</tr>
<tr>
	<td align="center">
  		<p>
    		<%= label_tag :email, "Correo Electrónico" %><br />
    		<%= text_field_tag :email, params[:email] %>
  		</p>
	</td>
</tr>
<tr>
	<td align="center">
  		<p>
    		<%= label_tag :password, "Contraseña" %><br />
    		<%= password_field_tag :password %>
  		</p>
	</td>
</tr>	
<tr>
	<td align="center">
  		<p class="button"><%= submit_tag "Entrar" %></p>
	</td>
</tr>
</table>
<% end %>