<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "Nombre de Usuario" %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :municipality, "Municipio" %><br />
    <%= f.text_field :municipality %>
  </div>
	<div class="field">
	
	<%= f.check_box :super %><%= f.label :super, "Administrador" %>
	</div>
	<div class="actions">
    <%= f.submit "Guardar Cambios" %>
  </div>
<% end %>
