<%= form_for(@supporter) do |f| %>
  <% if @supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter.errors.count, "error") %> prohibited this supporter from being saved:</h2>

      <ul>
      <% @supporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="100%">
	<tr>
		<td>
			<div class="field">
		    <%= f.label :first_name, "Nombre" %><br />
		    <%= f.text_field :first_name %>
		  </div>
		</td>
		<td>
			<div class="field">
		    <%= f.label :father_last_name, "Apellido Paterno" %><br />
		    <%= f.text_field :father_last_name %>
		  </div>
		</td>
		<td>
			<div class="field">
		    <%= f.label :mother_last_name, "Apellido Materno" %><br />
		    <%= f.text_field :mother_last_name %>
		  </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= f.label :gender, "Genero"%><br/>
				<%= f.radio_button :gender, 'Masculino', :checked => true%>
				<%= f.label :gender, 'Masculino', :value => 'Masculino' %>
				<%= f.radio_button :gender, 'Femenino' %>
				<%= f.label :gender, 'Femenino', :value => 'Femenino' %>
				
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :nickname, "Apodo"%><br/>
				<%= f.text_field :nickname%>
			</div>
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
	    		<%= f.label :email, "Correo Electrónico" %><br />
	    		<%= f.text_field :email %>
	  		</div>
		</td>
		<td>
			<div class="field">
	    		<%= f.label :phone, "Teléfono" %><br />
	    		<%= f.text_field :phone %>
	  		</div>
		</td>
		<td>
	  		<div class="field">
	    		<%= f.label :cellphone, "Celular" %><br />
	    		<%= f.text_field :cellphone %>
	  		</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
	    		<%= f.label :street_address, "Domicilio" %><br />
	    		<%= f.text_field :street_address %>
	  		</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :internal_number, "Número Interior"%><br/>
				<%= f.text_field :internal_number %>
			</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :external_number, "Número Exterior" %><br/>
				<%= f.text_field :external_number %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= f.label :neighborhood, "Colonia" %><br/>
				<%= f.text_field :neighborhood %>
			</div>
		</td>
		<td>
			<div class="field">
	    		<%= f.label :municipality, "Municipio" %><br />
	    		<%= f.text_field :municipality %>
	  		</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :between_streets, "Entre las calles" %><br/>
				<%= f.text_field :between_streets %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
	    		<%= f.label :section, "Sección" %><br />
	    		<%= f.text_field :section %>
	  		</div>
		</td>
		<td>
			<div class="field">
	    		<%= f.label :code, "Clave Electoral" %><br />
	    		<%= f.text_field :code %>
	  		</div>
		</td>
		<td>
			<div class="field">
				<%= f.label :type_of_card, "Credencial"%><br/>
				<%= f.radio_button :type_of_card, 'No Sabemos', :checked => true %>
				<%= f.label :type_of_card, 'No Sabemos', :value => 'No Sabemos' %>
				<%= f.radio_button :type_of_card, '03' %>
				<%= f.label :type_of_card, '\'03', :value => '03' %>
				<%= f.radio_button :type_of_card, 'Nueva' %>
				<%= f.label :gender, 'Nueva', :value => 'Nueva' %>
			
			</div>
		</td>
	</tr>
	</table>



 



 
  <div class="actions">
    <%= submit_tag(value="Guardar") %> <%= link_to 'Cancelar', @supporter %> 
  </div>
<% end %>
