<h1>Mis Simpatizantes<hr/></h1>

<table border="1" width="100%">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Cellphone</th>


    <th>Code</th>
    <th>Section</th>
    <th colspan="2">Acciones</th>
  </tr>
<% 

	if params[:user_id] != nil
		@user = User.find(params[:user_id])		
	else
		@user = User.find(session[:user_id]) if session[:user_id]
	end
%>
<% @user.supporters.each do |supporter| %>
  <tr>
    <td><%= link_to supporter.first_name + " " + supporter.father_last_name + " " + supporter.mother_last_name, supporter %></td>
    <td><%= supporter.email %></td>
    <td><%= supporter.phone %></td>
    <td><%= supporter.cellphone %></td>


    <td><%= supporter.code %></td>
    <td><%= supporter.section %></td>

    <td><%= link_to 'Edit', edit_supporter_path(supporter) %></td>
    <td><%= link_to 'Destroy', supporter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Simpatizante', new_supporter_path %>
