<% 
	if params[:user_id] != nil
		@user = User.find(params[:user_id])		
	else
		@user = User.find(session[:user_id]) if session[:user_id]
	end
%>

<h1>Mis Simpatizantes<hr/></h1>
<p>
	[ <%= link_to 'Nuevo Simpatizante', new_supporter_path %>  
	<% if session[:user_super] %>
		| <%= link_to 'Nuevo Usuario', new_user_path %>
		| <%= link_to 'Usuarios', users_path %>
	<% end %>
	]
</p>
<table width="100%" style="border-color: #400080;
border-style: solid;
border-left-width: 1px;
border-bottom-width: 1px;
border-right-width: 1px;
border-top-width: 1px;">
  <tr class="header">
    <th>Nombre</th>
    <th>Correo Electrónico</th>
    <th>Teléfono</th>
    <th>Celular</th>


    <th>Codigo Electoral</th>
    <th>Sección</th>
<% if session[:user_super] %>
    <th>Acciones</th>
<% end %>
  </tr>


<% @supporters.each do |supporter| %>
  <tr class="<%= cycle("odd_row", "even_row")%>">
    <td><%= link_to supporter.first_name + " " + supporter.father_last_name + " " + supporter.mother_last_name, supporter %></td>
    <td><%= supporter.email %></td>
    <td><%= supporter.phone %></td>
    <td><%= supporter.cellphone %></td>


    <td><%= supporter.code %></td>
    <td><%= supporter.section %></td>

    <% if session[:user_super] %>
    <td align="center"><%= link_to 'Eliminar', supporter, :confirm => '¿Esta seguro? Esta acción no se puede deshacer.', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />


